<span style="font-style:normal;">Dies ist ein </span>
<span style="font-weight:bold;">*fett*</span>
<span style="font-style:normal;"> test mit </span>
<span style="font-style:italic;">/kursiv/</span>
<span style="font-style:normal;"> und </span>
<span style="text-decoration:underline;">_unterstrichen_</span>
<br /><br />
<span style="font-weight:bold;">Zeilenanfang:</span>
<br /><br /><br />
<span style="font-style:normal;" data-xref-id="dfece5f44b6060b7740512" data-xref-provider="ch.elexis.text.DocXRef">[ 11.09.2018 Rezept 11.09.2018 ]</span>
<span style="font-style:normal;"><br /><br />Das war ein Rezept.<br />Ende.<br /></span>